.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dbe5e6;
  padding: 2em;
  flex-grow: 0;
}

.content {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 17em;
  height: 15em;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #dbe5e6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  padding: 2em;
  transition: all 300ms;
}

@media (max-width: 576px) {
  .card {
    width: 10em;
  }
}

.card h1 {
  font-size: 38px;
  font-weight: 400;
}

.list {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 10px;
}

.tag1 {
  display: inline-flex;
  border: solid rgb(106, 190, 205);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.numtag1 {
  background-color: rgb(106, 190, 205);
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.5;
  padding: 0rem 0.75rem;
}

.letertag1 {
  background-color: transparent;
  color: rgb(106, 190, 205);
  text-transform: uppercase;
  line-height: 1.5;
  padding: 0rem 0.75rem;
}

.tag2 {
  display: inline-flex;
  border: solid rgb(170, 215, 66);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.numtag2 {
  background-color: rgb(170, 215, 66);
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.5;
  padding: 0rem 0.75rem;
}

.letertag2 {
  background-color: transparent;
  color: rgb(170, 215, 66);
  text-transform: uppercase;
  line-height: 1.5;
  padding: 0rem 0.75rem;
}

.tag3 {
  display: inline-flex;
  border: solid rgb(241, 182, 4);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.numtag3 {
  background-color: rgb(241, 182, 4);
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.5;
  padding: 0rem 0.75rem;
  cursor: pointer;
}

.letertag3 {
  background-color: transparent;
  color: rgb(241, 182, 4);
  text-transform: uppercase;
  line-height: 1.5;
  padding: 0rem 0.75rem;
}

.tag4 {
  display: inline-flex;
  border: solid rgb(244, 137, 37);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.numtag4 {
  background-color: rgb(244, 137, 37);
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.5;
  padding: 0rem 0.75rem;
}

.letertag4 {
  background-color: transparent;
  color: rgb(244, 137, 37);
  text-transform: uppercase;
  line-height: 1.5;
  padding: 0rem 0.75rem;
}

.tag5 {
  display: inline-flex;
  border: solid rgb(237, 44, 73);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.numtag5 {
  background-color: rgb(237, 44, 73);
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.5;
  padding: 0rem 0.75rem;
}

.letertag5 {
  background-color: transparent;
  color: rgb(237, 44, 73);
  text-transform: uppercase;
  line-height: 1.5;
  padding: 0rem 0.75rem;
}